.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.themeSwitcher {
  padding: 0.25rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 2px solid var(--fg);
  cursor: pointer;
}

.header {
  color: var(--fg);
  font-size: 1.5rem;
  font-weight: lighter;
}

@media (min-width: 1024px) {
  .navbar {
    margin: 0 auto;
    max-width: 1024px;
    padding: 2.25rem 0;
  }
}

@media (min-width: 1280px) {
  .navbar {
    margin: 0 auto;
    max-width: 1280px;
    padding: 2.25rem 0;
  }
}
