.wrapper {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.content {
  flex: 7;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.themeSwitcher {
  width: 100%;
  cursor: pointer;
  padding: 1rem;
  border-radius: 1rem;
  border: 3px solid var(--primary);
  user-select: none;
  transition: ease-in-out 0.2s;
}

.themeSwitcher:hover {
  background: var(--primary);
  color: white;
}

@media (min-width: 1024px) {
  .wrapper {
    flex-direction: row;
    gap: 1.125rem;
    max-width: 1280px;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    max-width: 1920px;
  }
}
